<h3>Invite a Friend</h3>
<div class="subsection">

<%= form_for(@notegroup) do |f| %>
  <% if @notegroup.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@notegroup.errors.count, "error") %> prohibited this notegroup from being saved:</h2>

      <ul>
      <% @notegroup.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <%#= f.select :users_to_add, options_for_select(@users),{},{ :multiple => true, :size => 10 }%>
  <%= f.select :users_to_add, options_for_select(@users),{:prompt => "Friends"},{}%>

  <div class="actions">
    <%= f.submit "Add", :class => "roundedcornersbutton orangebutton"%>
  </div>
<% end %>
</div>
