<%= form_for(@notegroup) do |f| %>
  <% if @notegroup.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@notegroup.errors.count, "error") %> prohibited this notegroup from being saved:</h2>

      <ul>
      <% @notegroup.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<%= f.select :users_to_add, options_for_select(@users),{},{ :multiple => true, :size => 5 }%>

<div class="actions">
    <%= f.submit %>
  </div>
<% end %>
