<div id="box<%=slidewithnote.id%>" class="box" style="width: 100%; ">
	<div class="slidenum">Slide <%= slide_number %></div>
	<% slide_number = slide_number + 1 %>

  <div class="colslide" style="border:1px solid black; text-align: center; ">
    <%= image_tag slidewithnote.image.url, :style => "max-width:100%; max-height:100%;"%>
  </div>

  <div class="colnote">
    <div class="etherpaddiv" id="notegroup<%=notegroup.id%>note<%=slidewithnote.id%>" style="width: 100%; padding: 10px; ">
		<%= @pads.get_pad(slidewithnote.id).text %>
<%#
  http://etherpad-local.com:9001
  http://beta.etherpad.org
%>
    </div>
  </div>
  <div class="pagebreak" style="page-break-after: always; "></div>
</div>
