<div class="narrowcontentleft">
  <%#= button_to "Return to Notetaking", @notegroup, :method => "get", :class => "roundedcornersbutton orangebutton"%>
  <%#</br> %>

  <h3><%=link_to(@notegroup.presentation.deckoriginal_file_name, @notegroup)%></h3>
  </br>
  <h4>Friends in <%=@notegroup.presentation.deckoriginal_file_name%></h4>
        <div class="subsection" style="overflow:auto; max-height:300px;">
          <% if @notegroup.everyonebutme.empty?%>
            <div style="color:silver;">Nobody</div>
          <%else%>
            <% @notegroup.everyonebutme.each do |user|%>
              <li><%= user.login %></li>
              <% end %>
          <%end%>
        </div>

        <%= render 'form' %>

  <div style="float:right; clear:both; padding: 0px 5px;">
    <%= button_to "x Delete", new_presentation_path, :method => "get", :class => "roundedcornersbutton redbutton" %>
  </div>
</div>

<div class="narrowcontentright roundedcornersbox">
Don't see a friend? They probably haven't signed into Slidee yet. As soon as they do, a Slidee-user will be created instantly and they'll show up here after you refresh.
</div>
