<%= form_for(@slidedeck) do |f| %>
  <% if @slidedeck.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@slidedeck.errors.count, "error") %> prohibited this slidedeck from being saved:</h2>

      <ul>
      <% @slidedeck.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.file_field :deck %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
