<%= form_for(@presentation) do |f| %>
  <% if @presentation.errors.any? %>
    <div id="error_explanation">
      <ul>
      <% @presentation.errors.full_messages.each do |msg| %>
        <%unless msg == "Uploaded file name can't be empty"%>
        <%#it's really hard to deal with paperclip errors. We need a more elegant way to do this :/%>
          <li><%= msg %></li>
        <%end%>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.file_field :deckoriginal %>
  </div>

  <div class="actions">
    <%= f.submit "Upload" %>
    <%#:onclick => "this.disabled=true; showMe('loading');" %>
    </br></br></br>
    After uploading, invite friends to collaborate with by pressing the <%=image_tag("noun_project_1257.svg", :size => "15x15")%> button.
  </div>
  
 <div id="loading" class="loadinginprogress">
   <%= image_tag "ajax-loader.gif" %>
 </div>
<% end %>

