<div class="narrowcontentleft">
  <h3>My Slides</h3>
  <div>
    <% if User.current.notegroups.empty?%>
            No Slides Yet
    <%else%>
      <% current_user.notegroups.reverse.each do |notegroup| %>
        <div class="item" style="clear:both" onmouseover="document.getElementById('notegroup-edit-<%=notegroup.id%>').style.visibility = 'visible';" onmouseout="document.getElementById('notegroup-edit-<%=notegroup.id%>').style.visibility = 'hidden';">
          <%=image_tag("noun_project_453.svg", :size => "16x10")%>
          <%=link_to notegroup.presentation.deckoriginal_file_name, notegroup %>
          <span id="notegroup-edit-<%=notegroup.id%>" class="hiddenedit"><%=link_to image_tag("noun_project_1064.jpg", :size => "15x15"), edit_notegroup_path(notegroup)%></span>
        </div>
      <% end %>
    <% end %>
  </div>

  </br></br>

  <div style="float:left; padding: 0px 5px;">
    <%= button_to "+ Add Slide", new_presentation_path, :method => "get", :class => "roundedcornersbutton greenbutton"%>
  </div>
</div>

<div class="narrowcontentright roundedcornersbox">
  Upload a presentation PDF and invite some friends to take notes with you - in real time!</br></br>
  Or ask a friend to add you to their presentation.</br></br>
  The best size for a notetaking group is usually 2-3 people, depending on the class.</br>
</div>



<%=render :partial => 'layouts/include/footer' %>
