<p id="notice"><%= notice %></p>

<%= image_tag @slideimage.image.url %>
<%= image_tag @slideimage.image.url(:large) %>
<%= image_tag @slideimage.image.url(:thumb) %>

<%= link_to 'Edit', edit_slideimage_path(@slideimage) %> |
<%= link_to 'Back', slideimages_path %>
