<!DOCTYPE html>
<html>
<head>
  <title>Lecture Together</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="pagebox">
    <div id = "page_header" style="background:#DEFFDE; display:block; font-size:large; font-color:black; width:100%; height:40px">
      Collaborative Powerpoint Note-Taking
      <%= link_to 'My Presentations', home_path %>
      <%= render :partial => "layouts/include/login" %>
    </div>

    <div id="main_banner">
    </div>

    <div id="link_bar">
    </div>
    <div id="content">
    <%= yield %>
    </div>
</div>

</body>
</html>
